<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>头像裁剪</title>
    <link rel="stylesheet" href="./css/jquery.Jcrop.min.css" type="text/css" />
    <style type="text/css">
        .jcrop-holder #preview-pane {
            display: block;
            position: absolute;
            z-index: 2000;
            top: 10px;
            right: -280px;
            padding: 6px;
            border: 1px rgba(0,0,0,.4) solid;
            background-color: white;

            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;

            -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        }
        #preview-pane .preview-container {
            width: 250px;
            height: 250px;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="jc-demo-box">
                <img src="./uploads/7.jpg" id="target" alt="[Jcrop Example]" />
                <div id="preview-pane">
                    <div class="preview-container">
                        <img src="./uploads/7.jpg" class="jcrop-preview" alt="Preview" />
                    </div>
                </div>
                <button type="button" id="getImgSize">裁剪</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script src="./js/jquery-1.11.2.min.js"></script>
<script src="./js/jquery.Jcrop.min.js"></script>
<script type="text/javascript">
    jQuery(function($){
        // Create variables (in this scope) to hold the API and image size
        var jcrop_api,
                boundx,
                boundy,
        // Grab some information about the preview pane
                $preview = $('#preview-pane'),
                $pcnt = $('#preview-pane .preview-container'),
                $pimg = $('#preview-pane .preview-container img'),

                xsize = $pcnt.width(),
                ysize = $pcnt.height();

        console.log('init',[xsize,ysize]);
        $('#target').Jcrop({
            onChange: updatePreview,
            onSelect: updatePreview,
            aspectRatio: xsize / ysize
        },function(){
            // Use the API to get the real image size
            var bounds = this.getBounds();
            boundx = bounds[0];
            boundy = bounds[1];
            // Store the API in the jcrop_api variable
            jcrop_api = this;

            // Move the preview into the jcrop container for css positioning
            $preview.appendTo(jcrop_api.ui.holder);
        });

        function updatePreview(c) {
            if (parseInt(c.w) > 0) {
                var rx = xsize / c.w;
                var ry = ysize / c.h;
                $pimg.css({
                    width: Math.round(rx * boundx) + 'px',
                    height: Math.round(ry * boundy) + 'px',
                    marginLeft: '-' + Math.round(rx * c.x) + 'px',
                    marginTop: '-' + Math.round(ry * c.y) + 'px'
                });
            }
        }
        $(document).on("click","#getImgSize",function(){
            var $jcropHolder = $(".jcrop-holder").children("div");
            var width = parseInt($jcropHolder.css("width").split("px")[0]);
            var height = parseInt($jcropHolder.css("height").split("px")[0]);
            var top = parseInt($jcropHolder.css("top").split("px")[0]);
            var left = parseInt($jcropHolder.css("left").split("px")[0]);
            console.log(width+" "+ height+" "+top+ " "+left);
            $.get("/crop",{"filename":"7.jpg","width":width,"height":height,"top":top,"left":left},function(result){
                console.log(result);
            });
        });
    });
</script>
</body>
</html>