<div class="navbar navbar-default navbar-fixed-top u-navbar" role="navigation">
    <div class="container">
        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
                <li class=""><a href="/">首页</a></li>
                <li class=""><a href="/myTalk">我的说说</a></li>
                <li class=""><a href="/publishTalk">发表说说</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <% if(!login){%>
                <a class="btn btn-primary u-2 login" href="/login">登录</a>
                <a class="btn btn-primary u-1 signup" href="/register">注册</a>
                <%}else{%>
                <a href="javascript:;" style="display: inline-block;line-height: 20px;padding:10px 5px;color:#777;">欢迎您，<%= username %></a>
                <a href="javescript:;" style="display: inline-block;line-height: 20px;padding:10px 5px;color:#777;" id="Logout">退出</a>
                <%}%>
            </form>
        </div>
    </div>
    <span class="spinner sk-rotating-plane u-loading"></span>
</div>
<script type="text/javascript" src="./js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $("#Logout").click(function(){
        $.post("/logout",function(result){
            console.log(result);
            if(result == "1"){
                window.location.href="/";
            }
        });
    });
</script>