<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-班级说说</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style type="text/css">
        .main-wrapper{margin-top:100px;}
        .talk_imgavatar{display:block;width:110px;height:110px;}
        .talk_imgavatar img{display:block;width:100%;}
        .talk_des{word-break: break-all;}
        .talk_list{margin-top:20px;}
        .pulishinfo{color:#999;font-size:14px;}
        .pulish_author{margin-right:20px;}
        .clearfix:after{display:block;content:'';width:0;height:0;line-height: 0;font-size:0;clear:both;}
        .list_page{box-sizing:border-box;padding:0px 15px;}
        .list_page .pagination{float:left;margin:30px 0px;}
        .list_page .pagination a,.list_page .pagination span{height: 38px;border: 1px solid #ddd; background-color: #f7f7f7; text-align: center; cursor: pointer; margin: 6px 0px 0px 4px; float: left; padding: 8px 15px 0px 15px;color:#333;}
        .list_page .pagination span.current{background-color: #fff; border: none; color: #fc1f34;}
        .list_page .pagination span.prev,.list_page .pagination span.next{color:#ddd; background-color:#fff;  cursor: default;border: 1px solid #ddd;}
    </style>
</head>
<body>
    <div class="main-wrapper">
        <% include header.ejs %>
        <div class="container">
            <div class="avatarInfo">
                <%if(username != ''){%>
                <a href="/uploadnew"><img src="./uploads/avatar/<%= avatar %>" alt="" style="width:140px;height: 140px;" class="img-thumbnail"></a>
                <%}else{%>
                <img src="./uploads/avatar/<%= avatar %>" alt="" style="width:140px;height: 140px;" class="img-thumbnail">
                <%}%>
                <span style="padding:0 10px;font-size: 18px;color:#EFB1E9;font-weight: bold;">
                    <%if(username != ''){%>
                    <%= username %>
                    <%}else{%>
                    未登录
                    <%}%>
                </span>
                <span style="color:#ec971f;">黄金会员</span>
            </div>
            <div class="row talk_list">
                <div class="col-md-12" id="talkListBox"></div>
                <div id="listPagination" class="list_page clearfix"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/underscore-min-rename.js"></script>
    <script type="text/javascript" src="/js/jquery.pagination.js"></script>
    <% if(username != ''){ %>
        <% include customer.ejs %>
    <% } %>
    <script type="text/template" id="talkListTemplate">
        <div class="media">
            <div class="media-left media-middle">
                <a class="talk_imgavatar" href="{{= url }}" title="{{= username }}" target="_blank">
                    <img class="img-thumbnail media-object" src="{{= avatar }}" alt="">
                </a>
            </div>
            <div class="media-body">
                <p class="pulishinfo">
                    <span class="pulish_author">作者: {{= username }}</span>
                    <span class="pulish_updatetime">发布时间: {{= updateTime }}</span>
                </p>
                <h4 class="media-heading"><a href="{{= url }}" title="{{= username }}" target="_blank">{{= title }}</a></h4>
                <p class="talk_des">{{= content }}</p>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        $(function(){
            //sort为1按时间正序检索，为-1按时间逆序检索
            var talkOptions = {"pagesize":5,"page":1,sort:-1};
            getListInfo(talkOptions.page, talkOptions);
            function getListInfo(page_index, cObj){
                if(cObj == undefined){
                    talkOptions.page = ++page_index;
                    cObj = talkOptions;
                }
                $.get("/doAllTalk",cObj,function(results){
//                    console.log(results);
                    callbackFunc.call(this, results);
                });
            }
            function callbackPage(page_index, jq){//分页回调
                getListInfo(page_index);
            }
            function callbackFunc(results){
                var num = results.count;
                if(talkOptions.page == 1 && num > 0){
                    $("#listPagination").pagination(num,{
                        num_edge_entries: 2,
                        num_display_entries: 4,
                        callback: callbackPage,
                        items_per_page:talkOptions.pagesize,
                        prev_text:"&lt;",
                        link_to:"javascript:;",
                        next_text:"&gt;"
                    });
                }
                $("#talkListBox").html("");
                var compiled = _.template($("#talkListTemplate").html());
                $.each(results.result,function(i,v){
                    //console.log(v)
                    var option = {
                        "username": v.username,
                        "url":"/talk/"+ v._id,
                        "avatar": v.avatar,
                        "title": v.title,
                        "content": v.content,
                        "updateTime": v.updateTime
                    }
                    var html = compiled(option);
                    $("#talkListBox").append(html);
                });
            }
        });
    </script>
</body>
</html>