<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发表说说-班级说说</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <style type="text/css">
        .main-wrapper{margin-top:100px;}
        img.talk_avatar{display:block;width:100%;}
    </style>
</head>
<body>
<div class="main-wrapper">
    <% include header.ejs %>
    <div class="container">
        <form class="form-horizontal" style="width:500px;">
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label"><img src="<%= avatar %>" alt="" class="img-thumbnail talk_avatar"></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="请输入说说标题" id="talkTitle" style="margin-bottom: 10px;">
                    <textarea class="form-control" rows="6" name="comment" id="comment" placeholder="输入您想说的话"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="button" class="btn btn-primary" id="submitBtn">发表说说</button>
                </div>
            </div>
        </form>
    </div>
</div>
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $("#submitBtn").click(function(){
            var content = $("#comment").val();
            var title = $("#talkTitle").val();
            $.post("/subTalk",{"content":content,"title":title},function(results){
                if(results){
                    alert("发表成功");
                }
            });
        });
    </script>
</body>
</html>